.container{ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
 
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
} 

.form{ 
  align-items: center;
  border: 5px solid black;
  /* height: 400px; */
  padding: 50px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.c1{
  display: flex;
 }

 .lastname{
  display: flex;
  margin-top: 20px;
 }
 .f1{
  display: flex;
  margin-left: 18px;
 
 }

 .c2{
  display: flex;
 }

 .c3{
  display: flex;
 }

 /* .username{
  display: flex;
  margin-left: 10px;
 } */

.email{
  display: flex;
  margin-left: 20px;
 }
 .phone{
  display: flex;
  margin-top: 20px;
 }
 .password{
  display: flex;
  margin-left: 10px;
 }

 .btn{
  display: flex;
  
  background-color: white;
  
  margin: auto;
 }
.gender{
  display: flex;
  margin-left: 10px; 
}
.G1{
  
  margin-left: 10px; 
}
.p{
  
  margin-left: 10px; 
}